# Analytics Data Lake

Data from the usual data source.

In [1]:
glob_ret = run_hive(
    """
    select 
        cohort,
        count(*) as new_eds,
        (sum(if(2nd_month_edits >= 1, 1, 0)) / sum(if(1st_month_edits >= 1, 1, 0))) as ret 
    from neilpquinn.new_editors
    where cohort >= "2014-04"
    group by cohort
    order by cohort asc
    limit 1000
    """
)

glob_ret

     cohort  new_eds       ret
0   2014-04   110977  0.053768
1   2014-05   123509  0.047381
2   2014-06   104241  0.052820
3   2014-07   111230  0.054724
4   2014-08   114329  0.053678
5   2014-09   115269  0.060042
6   2014-10   120787  0.055660
7   2014-11   115636  0.049552
8   2014-12   110177  0.054122
9   2015-01   123555  0.060257
10  2015-02   123038  0.053000
11  2015-03   130353  0.054421
12  2015-04   109273  0.053975
13  2015-05   110642  0.049421
14  2015-06   104491  0.053698
15  2015-07    95070  0.056306
16  2015-08    94634  0.065431
17  2015-09   101074  0.065665
18  2015-10   104745  0.059487
19  2015-11   104557  0.049590
20  2015-12    95466  0.052898
21  2016-01   112370  0.062739
22  2016-02   109988  0.060788
23  2016-03   113631  0.060344
24  2016-04   108338  0.053592
25  2016-05   107125  0.048028
26  2016-06    98160  0.047188
27  2016-07    88204  0.052583
28  2016-08    91833  0.062102
29  2016-09   105042  0.065659
30  2016-10   105521  0.070943
31  2016-11   106248  0.051107
32  2016-12    98001  0.053877
33  2017-01   116378  0.071225
34  2017-02   111720  0.060150
35  2017-03   123703  0.060047
36  2017-04   109317  0.054200
37  2017-05   114498  0.049983
38  2017-06   105080  0.050048
39  2017-07    95052  0.053855
40  2017-08    94792  0.058634
41  2017-09   101719  0.068493
42  2017-10   110353  0.074198
43  2017-11   110466  0.054035
44  2017-12    97738  0.052354
45  2018-01   101971  0.082916

In [8]:
glob_ret.to_csv("data/adl_global_monthly_retention.tsv", sep = "\t", index = False)

In [3]:
proj_ret = run_hive(
    """
    select 
        wiki,
        cohort,
        count(*) as new_eds,
        (sum(if(2nd_month_edits >= 1, 1, 0)) / sum(if(1st_month_edits >= 1, 1, 0))) as retention
    from neilpquinn.new_editors
    where cohort >= "2017-01"
    group by wiki, cohort
    order by wiki, cohort asc
    limit 20000
    """
)

proj_ret

              wiki   cohort  new_eds  retention
0           abwiki  2017-06        1   0.000000
1           abwiki  2017-11        2   0.000000
2          acewiki  2017-06        2   1.000000
3          acewiki  2017-07        1   0.000000
4          adywiki  2017-09        9   0.000000
5           afwiki  2017-01       13   0.076923
6           afwiki  2017-02        8   0.000000
7           afwiki  2017-03        7   0.142857
8           afwiki  2017-04       10   0.100000
9           afwiki  2017-05       11   0.000000
10          afwiki  2017-06        2   0.000000
11          afwiki  2017-07        5   0.200000
12          afwiki  2017-08       13   0.000000
13          afwiki  2017-09        8   0.000000
14          afwiki  2017-10       11   0.000000
15          afwiki  2017-11       10   0.000000
16          afwiki  2017-12        7   0.000000
17          afwiki  2018-01        9   0.000000
18     afwikibooks  2017-11        1   0.000000
19     afwikiquote  2017-06        1   0.000000
20     afwikiquote  2017-07        3   0.000000
21     afwikiquote  2017-08        1   0.000000
22          akwiki  2017-03        1   0.000000
23          akwiki  2017-06        1   1.000000
24          akwiki  2017-11        1   0.000000
25          akwiki  2018-01        1   0.000000
26         alswiki  2017-01        3   0.000000
27         alswiki  2017-02        2   0.000000
28         alswiki  2017-03        2   0.000000
29         alswiki  2017-05        3   0.000000
...            ...      ...      ...        ...
4619  zhwikivoyage  2017-07        1   1.000000
4620  zhwikivoyage  2017-08        2   0.000000
4621  zhwikivoyage  2017-09        2   0.000000
4622  zhwikivoyage  2017-10        3   0.000000
4623  zhwikivoyage  2017-11        4   0.000000
4624  zhwikivoyage  2017-12        3   0.333333
4625  zhwikivoyage  2018-01        2   0.000000
4626  zhwiktionary  2017-01        3   0.000000
4627  zhwiktionary  2017-02        5   0.000000
4628  zhwiktionary  2017-03        9   0.111111
4629  zhwiktionary  2017-04        3   0.333333
4630  zhwiktionary  2017-05        5   0.000000
4631  zhwiktionary  2017-06        7   0.000000
4632  zhwiktionary  2017-07        7   0.000000
4633  zhwiktionary  2017-08        5   0.200000
4634  zhwiktionary  2017-09        6   0.000000
4635  zhwiktionary  2017-10        3   0.000000
4636  zhwiktionary  2017-11        3   0.000000
4637  zhwiktionary  2017-12        7   0.000000
4638  zhwiktionary  2018-01        4   0.000000
4639        zuwiki  2017-01        1   0.000000
4640        zuwiki  2017-02        1   0.000000
4641        zuwiki  2017-03        1   0.000000
4642        zuwiki  2017-06        2   0.500000
4643        zuwiki  2017-12        2   0.000000
4644  zuwiktionary  2017-01        1   0.000000
4645  zuwiktionary  2017-03        1   0.000000
4646  zuwiktionary  2017-04        1   0.000000
4647  zuwiktionary  2017-07        1   0.000000
4648  zuwiktionary  2017-09        1   0.000000

[4649 rows x 4 columns]

In [9]:
proj_ret.to_csv("data/adl_project_monthly_retention.tsv", sep = "\t", index = False)

# MariaDB application tables
Raw data for comparison

In [5]:
enwiki_new_revs = run_mariadb("""
    select
        log_user as user_id,
        str_to_date(log_timestamp, "%Y%m%d%H%i%S") as reg_t,
        str_to_date(rev_timestamp, "%Y%m%d%H%i%S") as edit_t
    from enwiki.logging
    inner join enwiki.revision
    on log_user = rev_user
    where
        log_type = "newusers" and
        log_action = "create" and
        log_timestamp >= "201711" and
        rev_timestamp >= "201711";
""")

In [7]:
enwiki_new_revs

          user_id               reg_t              edit_t
0        32282933 2017-11-01 00:04:30 2017-11-01 00:06:03
1        32282929 2017-11-01 00:04:13 2017-11-01 00:07:05
2        32282944 2017-11-01 00:07:01 2017-11-01 00:08:44
3        32282946 2017-11-01 00:07:49 2017-11-01 00:09:08
4        32282932 2017-11-01 00:04:26 2017-11-01 00:12:09
5        32282929 2017-11-01 00:04:13 2017-11-01 00:12:42
6        32282953 2017-11-01 00:09:18 2017-11-01 00:12:44
7        32282956 2017-11-01 00:10:21 2017-11-01 00:13:15
8        32282953 2017-11-01 00:09:18 2017-11-01 00:13:23
9        32282961 2017-11-01 00:13:21 2017-11-01 00:13:53
10       32282959 2017-11-01 00:12:17 2017-11-01 00:15:27
11       32282945 2017-11-01 00:07:34 2017-11-01 00:17:01
12       32282960 2017-11-01 00:13:14 2017-11-01 00:18:14
13       32282950 2017-11-01 00:08:53 2017-11-01 00:19:21
14       32282969 2017-11-01 00:15:29 2017-11-01 00:22:23
15       32282995 2017-11-01 00:22:17 2017-11-01 00:22:54
16       32282950 2017-11-01 00:08:53 2017-11-01 00:24:05
17       32282999 2017-11-01 00:23:49 2017-11-01 00:24:34
18       32282959 2017-11-01 00:12:17 2017-11-01 00:29:42
19       32283000 2017-11-01 00:24:15 2017-11-01 00:30:06
20       32282959 2017-11-01 00:12:17 2017-11-01 00:30:53
21       32282995 2017-11-01 00:22:17 2017-11-01 00:31:06
22       32283010 2017-11-01 00:30:06 2017-11-01 00:31:48
23       32282959 2017-11-01 00:12:17 2017-11-01 00:32:18
24       32282996 2017-11-01 00:22:31 2017-11-01 00:33:41
25       32282955 2017-11-01 00:09:59 2017-11-01 00:34:50
26       32283019 2017-11-01 00:33:32 2017-11-01 00:35:02
27       32283017 2017-11-01 00:33:24 2017-11-01 00:35:43
28       32283023 2017-11-01 00:35:51 2017-11-01 00:36:49
29       32282946 2017-11-01 00:07:49 2017-11-01 00:37:07
...           ...                 ...                 ...
1854331  32828669 2018-01-11 17:14:52 2018-04-20 21:27:25
1854332  33303375 2018-03-14 10:39:02 2018-04-20 21:27:33
1854333  33575753 2018-04-20 21:26:20 2018-04-20 21:27:46
1854334  33562255 2018-04-19 05:19:49 2018-04-20 21:27:48
1854335  33575689 2018-04-20 21:16:02 2018-04-20 21:27:52
1854336  33395077 2018-03-26 19:38:10 2018-04-20 21:28:00
1854337  33575510 2018-04-20 20:45:13 2018-04-20 21:28:01
1854338  32843784 2018-01-13 18:55:13 2018-04-20 21:28:10
1854339  33470491 2018-04-06 15:32:01 2018-04-20 21:28:13
1854340  33449890 2018-04-03 18:55:50 2018-04-20 21:28:33
1854341  33575379 2018-04-20 20:22:01 2018-04-20 21:28:43
1854342  33344692 2018-03-19 22:34:01 2018-04-20 21:28:46
1854343  33515225 2018-04-12 19:46:20 2018-04-20 21:28:54
1854344  33038722 2018-02-07 22:19:21 2018-04-20 21:28:59
1854345  33416912 2018-03-29 17:42:39 2018-04-20 21:29:08
1854346  33575691 2018-04-20 21:16:11 2018-04-20 21:29:08
1854347  33331817 2018-03-18 05:24:27 2018-04-20 21:29:19
1854348  33258209 2018-03-08 14:13:04 2018-04-20 21:29:24
1854349  33516050 2018-04-12 22:24:59 2018-04-20 21:29:36
1854350  33562255 2018-04-19 05:19:49 2018-04-20 21:29:38
1854351  33157992 2018-02-23 18:33:21 2018-04-20 21:29:45
1854352  32774531 2018-01-04 15:37:32 2018-04-20 21:29:48
1854353  32893088 2018-01-20 06:38:57 2018-04-20 21:29:48
1854354  33083464 2018-02-13 19:12:17 2018-04-20 21:29:53
1854355  33039834 2018-02-08 02:23:47 2018-04-20 21:30:10
1854356  33569795 2018-04-20 03:58:40 2018-04-20 21:30:17
1854357  33093611 2018-02-15 04:36:39 2018-04-20 21:30:21
1854358  33083464 2018-02-13 19:12:17 2018-04-20 21:30:23
1854359  33157992 2018-02-23 18:33:21 2018-04-20 21:30:23
1854360  33159134 2018-02-23 22:06:29 2018-04-20 21:30:42

[1854361 rows x 3 columns]

In [10]:
enwiki_new_revs.to_csv("data/mdb_enwiki_new_user_revisions.tsv", index = False)